.bannerButton {
 
        width: 25%;
        text-decoration: none;
        text-align: center;
        color: #f4f4f4;
        background-color: #29343e;
        padding: 8px 16px;
        border: 1px solid #29343e;
        font-size: 1rem;
        border-radius: 10px;
        margin-right: 10px;
        letter-spacing: 2px;
    }


.bannerButton:hover {
    background-color: #ffffff;
    color: #29343e;
}

.otherButton {
 
    width: 25%;
    text-decoration: none;
    text-align: center;
    color: #29343e;
    background-color: #ffffff;
    padding: 8px 16px;
    border: 1px solid #29343e;
    font-size: 1rem;
    border-radius: 10px;
    margin-right: 10px;
    letter-spacing: 2px;
   
}


.otherButton:hover {
background-color: #29343e;
color:#ffffff;
}

