.contactForm {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px;
    justify-content: stretch;
    align-items: center;
    transition: height .2s ease;
  }

  .inputField__field {
   
    background-color: #fff;
    border: none;
    font-size: 16px;
    padding: 16px 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
    color: #29343e;
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
  }

  .inputField__field:focus {
    outline: none !important;
    border-color: #db4814;
    box-shadow: 0 0 10px #db4814;
  }

  /* @include m.smMinBreakPoint {
    font-size: 18px;
    padding: 20px 25px;
  } */
  
  ::placeholder { /* Firefox */
    font-weight: normal;
    color: #29343e;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #29343e;
    font-weight: normal;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #29343e;
    font-weight: normal;
  }
  
  input[disabled] {
    background-color: #29343e;
    cursor: default;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  }

  input {
    transform: scale(1);
    background-color: #29343e;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
  }

.center {
  margin: auto;
}
  
.button {
  color: #fff;
  width: 100px;
  height: 40px;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  background-color: #29343e;
}