/* Styles the h3 */
.mc__title {
    
    text-align: center;
  
    color: #ffffff;
    margin:auto;
  
}
   
.subscribeBut {
  color: #29343e;
  width: 100px;
  height: 40px;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  border-style: none;
  background-color: #f4f4f4;
}

.subscribeBut:hover {
  background-color: #29343e;
  color:#f4f4f4 ;
  border: 1px #f4f4f4 solid;
  }
  
  /* Positions the form in the middle of the modal and ensures the content doesn't jump as status messages get added/removed */
  .mc__form-container {
    width: 100%;
    margin: auto;
    transition: height .2s ease;
  }
  
  /* Positions Text and form fields nicely in the middle with some spacing. */
  .mc__form {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    background-color: #29343e;
    padding: 20px;
  }
  
  /* Seperates the input fields vertically */
  .mc__field-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
   
  }


  .mc__alert {
    text-align: center;
    color: #fff;

  }
    
  @-webkit-keyframes fade-loop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-loop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 560px) {
    .mc__field-container {
      display: grid;
      grid-row-gap: 30px;
      margin: 0;
    }

    .mc__form {
      display: grid;
      grid-template-rows: min-content min-content;
      grid-row-gap: 40px;
      justify-content: stretch;
      align-items: center;
      transition: height .2s ease;
    }
    
}