.contactScreen_title {
  font-size: 3rem;
  background-color: #29343e;
  color: #ffffff;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.contact-deets {
 
  margin: auto;
  text-align: center;
  padding: 40px;
  width: 100%;

}

.contact-deets > a {
  text-decoration: none;
  color: #29343e;
  padding: 50px;
  font-size: 20px;

}

@media (max-width: 610px) {
    .contact-deets > a {
      display: flex;
      flex-direction: column;
      padding: 10px;
      font-size: 18px;
    }
}

