.contactScreen_title {
  font-size: 3rem;
  background-color: #ffffff;
  color: #29343e;
  margin: auto;
  text-align: center;
  padding: 10px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-deets {
  margin: auto;
  text-align: center;
  padding: 40px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-deets > a {
  text-decoration: none;
  color: #29343e;
  padding: 50px;
  font-size: 20px;
}

.contact-deets > a:hover {
  color: #db4814;
}

@media (max-width: 800px) {
  .contact-deets > a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 18px;
  }
}
