.left_image > img {
  border-radius: 10px;
}

.left_image {
  margin: 1rem auto;

  width: 60%;
}

.left_info {
  margin: 1rem auto;
  width: 60%;
  background-color: #fff;
  height: fit-content;
  font-size: 0.9rem;
  color: #29343e;
  border-radius: 10px;
}

.left_name {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.left_info > p:last-child {
  border: none;
}

.bookbutton {
  /* grid-column: 1/-1; */
  width: 300px;
  padding: 10px 16px;
  background-color: #29343e;
  color: #f4f4f4;
  border: 1px solid #29343e;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 2px;
}

.bcheck {
  margin: 1rem auto;
  width: 60%;
  color: #29343e;
  font-size: 0.9rem;
}

.endbit {
  margin: 1rem auto;
  width: 60%;
  color: #29343e;
  font-size: 0.9rem;
}

.middle {
  margin: 1rem auto;

  text-align: center;
}

.bookbutton:hover {
  background-color: #f4f4f4;
  color: #29343e;
}

.servicecta {
    text-decoration: none;
    color: #29343e;
    font-size: 1.2rem;
 

}

.servicecta:hover{
    color: #db4814;
}

@media (max-width: 760px) {
  .left_image {
    width: 95%;
  }

  .left_info {
    width: 95%;
  }

  .bcheck {
    width: 95%;
  }
  .endbit {
    width:95%;
  }
}
