



.servicesBanner {
    background-image: url('../assets/servicesBanner.jpg');
    height: 50vh;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 30px;
    
}

.servicesScreen_title {
  font-size: 80px;
 
    color: #ffffff;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-top: 210px;
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    
    
}

.buttonLayout {
    display: flex;
    padding-left: 10%;
}

.servicesScreen_products {
  margin-bottom: 30px;
}

@media (max-width: 900px) {
    .servicesScreen_title {
        font-size: 50px;
        padding-top: 250px;
        padding-left: 8%;
    }
    .buttonLayout {
        padding-left: 8%;
    }
}

.servicesScreen_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
    .servicesScreen_products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .servicesScreen_products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 630px) {
    .servicesScreen_products {
        grid-template-columns: 1fr;
    }
}